:root {
  --pink: #fec7d7;
  --black: #0e172c;
  --grey: #535353;
  --cian: #85d1ce;
  --secondary: #a786df;
  --tertiary: #d9d4e7;
  --white: #fffffe;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: var(--pink);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

footer {
  width: 100%;
  position: fixed;
  height: 75px;
  bottom: 0;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-img-black {
  margin: 0 10px;
  height: 50px;
  width: 130px;
  border-radius: 30px;
  background-color: var(--black);
  display: flex;
  align-items: center;
}
.container-main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-img-black a {
  position: relative;
}
