.categogiras {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.container-categorias-opacity {
  opacity: 0.5;
  display: flex;
  cursor: pointer;

  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.container-categorias {
  display: flex;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.sub-container {
  padding: 10px;
  width: 100%;
  color: white;
  height: 110px;
  left: 0px;
  top: 0px;
  background: #0e172c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-grow: 0;
  margin: 0px 5px;
}
.container-img-black a .img-home {
  left: 15px;
  bottom: -12px;
  position: absolute;
  background-color: var(--black);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dbtk64lp4/image/upload/v1638104239/Adopcion/Component_1_hizrdp.png");
  width: 25px;
  height: 25px;
}
.container-img-black p {
  position: absolute;
  top: -30px;
  left: 50px;
  font-size: 1.2rem;
  color: var(--cian);
  background-color: var(--black);
}

.container-img .img-menssage {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dbtk64lp4/image/upload/v1638104239/Adopcion/Vector_q1q0mh.png");
  width: 25px;
  height: 25px;
}
.container-img .img-heart {
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dbtk64lp4/image/upload/v1638104239/Adopcion/Vector_1_misyqs.png");
  width: 35px;
  height: 25px;
}
.container-img .img-perfil {
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dbtk64lp4/image/upload/v1638138639/Adopcion/Component_2_jmlqbx.png");
  width: 25px;
  height: 25px;
  padding-right: 15px;
}

.circle {
  display: flex;
  justify-content: center;
  position: static;
  width: 84px;
  height: 84px;
  left: 8px;
  top: 8px;
  border-radius: 50%;
  background: var(--cian);
}
.sub-container p {
  margin: 0 0 0 10px;
  font-size: 1.4rem;
}
h2 {
  font-size: 2rem;
  padding-left: 10px;
}
.categorias {
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: 10px;
}
.principal-container-mascotas {
  position: relative;
}

.principal-container-mascotas a {
  text-decoration: none;
  animation: 1.5s animales ease-in-out;
}
@keyframes animales {
  0% {
    transform: translateY(700px);
  }
  100% {
    transform: translateY(0px);
  }
}
.container-main {
  margin-bottom: 120px;
}

.principal-container-mascotas {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container-mascotas {
  justify-content: center;
  display: flex;
  margin: 10px 5px 10px 5px;
}
.mascota {
  border-radius: 10px;
  position: relative;
  width: 175px;
  height: 280px;
  justify-content: flex-end;
}
.mascota img {
  width: 100%;
  border-radius: 10px;
}
.black {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 102%;
  border-radius: 10px;
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 12, 5, 1) 0%,
    rgba(255, 255, 255, 0) 35%
  );
}
.black p:nth-child(1) {
  font-weight: bold;
  font-size: 1.4rem;
}
.black p {
  margin: 5px 0 5px 5px;
  font-size: 1.2rem;
  color: var(--white);
}
@media (min-width: 800px) {
  .principal-container-mascotas {
    width: 90%;
  }
  .mascota img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .categogiras {
    width: 90%;
  }
  .mascota {
    width: 230px;
    height: 325px;
  }
  .container-main {
    margin-bottom: 210px;
  }
  h2 {
    padding: 0;
    text-align: center;
  }
  .categorias {
    text-align: center;
    padding: 0;
  }
}
