h2 {
  font-size: 2rem;
  margin-left: 20px;
  font-weight: bold;
}
main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.container-message {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: space-between;
}
.container-message a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.message {
  padding: 5px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  width: 90%;
}
.message img {
  width: 85px;
  height: 80px;
}
.message .text {
  margin-left: 10px;
}
.message .text h3 {
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}
.message .text h3 span {
  font-size: 1rem;
  color: #9b9b9b;
}
.message .text p {
  color: #9b9b9b;
}
.circle-img img {
  border: 5px solid var(--cian);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
/*--------------------------footer------------------------ */
.container-img a .img-home {
  background: white;
  margin-left: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dbtk64lp4/image/upload/v1638138346/Adopcion/Component_1_gk3r6h.png");
  width: 25px;
  height: 25px;
}
.container-img-black .img-menssage {
  left: 10px;
  bottom: -13px;
  position: absolute;
  background-color: var(--black);
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dbtk64lp4/image/upload/v1638104244/Adopcion/Vector_2_qxlcyo.png");
  width: 25px;
  height: 25px;
}
.container-img .img-heart {
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dbtk64lp4/image/upload/v1638104239/Adopcion/Vector_1_misyqs.png");
  width: 35px;
  height: 25px;
}
.container-img .img-perfil {
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dbtk64lp4/image/upload/v1638138639/Adopcion/Component_2_jmlqbx.png");
  width: 25px;
  height: 25px;
  padding-right: 15px;
}
.container-img-black p {
  position: absolute;
  top: -30px;
  left: 40px;
  font-size: 1.2rem;
  color: var(--cian);
  background-color: var(--black);
}
.text-flecha {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-flecha img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}
@media (min-width: 600px) {
  h2 {
    text-align: center;
  }
}
